<div class="container-page-dialog">
  <h1 mat-dialog-title class="titulo-page">Novo Agendamento</h1>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <div class="linha">
        <mat-form-field>
          <mat-label>Estabelecimento</mat-label>
          <mat-select formControlName="estabelecimento_id">
            <mat-option
              *ngFor="let estabelecimento of estabelecimentos"
              [value]="estabelecimento.id"
            >
              {{ estabelecimento.nome_fantasia }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label>Cliente</mat-label>
          <button
            matPrefix
            mat-icon-button
            color="primary"
            (click)="clienteF2()"
          >
            <mat-icon>search</mat-icon>
          </button>
          <input
            type="text"
            matInput
            #inputcliente_id
            (focus)="inputcliente_id.select()"
            formControlName="cliente_id"
            [disabled]="true"
            style="user-select: none"
            (keyup.f2)="clienteF2()"
          />
          <button
            matSuffix
            mat-icon-button
            (click)="limparCliente(inputcliente_id)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" class="btn-outline-danger">
      Fechar
    </button>
    <button mat-button cdkFocusInitial class="btn-primary">Salvar</button>
  </div>
</div>
